<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610568428662-mrn4rt2qhe838d78pabmlb605gumpd5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610568428662-mrn4rt2qhe838d78pabmlb605gumpd5t</string>
	<key>API_KEY</key>
	<string>AIzaSyDzQ3GabA2pndLaHa6WtpzgRFJVAKd8gRI</string>
	<key>GCM_SENDER_ID</key>
	<string>610568428662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DreamToBeADev.PizzaShop</string>
	<key>PROJECT_ID</key>
	<string>pizzashop-10778</string>
	<key>STORAGE_BUCKET</key>
	<string>pizzashop-10778.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610568428662:ios:3fb9fba9d1c3ed3aa59357</string>
</dict>
</plist>